<div class="row">
	<h3 class="col-xs-12 text-xs-center">
		Hi. Here you can create a message and share it!
	</h3>
</div>
<div class="row text-xs-center">
	<form action="/" method="post">
	<div class="form-group">
		<input type="radio" name="msg[delete_type]" value="0" required class="m-x-2">Delete after first visit
		<input type="radio" name="msg[delete_type]" value="1" required class="m-x-2">Delete after 1 hour
	</div>
	<div class="form-group">
		<input type="text" name="msg[message]" required>
	</div>
	<div class="form-group">
		<input type="submit" name="sub" value="Create message!" class="btn btn-primary">

	</div>
	</form>
</div>