<div class="row">
	<% if @result == "0" %>
		<h3 class="col-xs-12 text-xs-center">Something went wrong. Please, try again!</h1>
		<a href="/">Back!</a>

	<% elsif @result == "1"%>
		<h3 class="col-xs-12"> Here is your decrypted message: <%= AESCrypt.decrypt(@message.message, "p4ssw0rd") %></h3>
		<% @message.delete %>
	<% else %>
		<h3 class="col-xs-12"> Here is your decrypted message: <%= AESCrypt.decrypt(@message.message, "p4ssw0rd") %></h3>
	<% end %>

</div>

